<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @sculpture.photo %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @sculpture.nom %>
</p>

<p>
  <strong>Auteur:</strong>
  <%= @sculpture.auteur %>
</p>

<p>
  <strong>Date:</strong>
  <%= @sculpture.date %>
</p>

<%= link_to 'Edit', edit_sculpture_path(@sculpture) %> |
<%= link_to 'Back', sculptures_path %>
